<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>microProfile-5.0</feature>
        <feature>samlWeb-2.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  UI_HTTP_PORT="9080"
                  httpPort="${UI_HTTP_PORT}"
                  UI_HTTPS_PORT="9443"
                  httpsPort="${UI_HTTPS_PORT}" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/" location="ui.war">
        <application-bnd>
            <security-role name="any-authenticated">
                <special-subject type="ALL_AUTHENTICATED_USERS"></special-subject>
            </security-role>
        </application-bnd>
    </webApplication>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <samlWebSso20></samlWebSso20>
</server>
